.container-fluid
  .col-md-3
    .list-group
      a.list-group-item(ng-href="#/games/{{$stateParams.cloudId}}/{{game.gameId}}" ng-class="{active: $stateParams.gameId === game.gameId}" ng-repeat="game in games track by $index | orderBy:'msSinceEpoch':true")
          span="{{game.msSinceEpoch | date:'shortDate'}} "
          span="{{game.opponentName}} "
          span="{{game.ours}} - {{game.theirs}} "
  .col-md-9
    .ui-view